In [1]:
import requests
import pandas as pd
import os

# Datos tomados de estación 1082 - Bilbao Aeropuerto

In [27]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/c834d5a3"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1970 = pd.DataFrame(hacer_dataframe(direccion))

df_1970.to_csv('data/Datos_Aemet/bilbao_csv/datos1970.csv', index=False)

In [30]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/18423aac"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1973 = pd.DataFrame(hacer_dataframe(direccion))

df_1973.to_csv('data/Datos_Aemet/bilbao_csv/datos1973.csv', index=False)

In [31]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/29ef0d58"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1976 = pd.DataFrame(hacer_dataframe(direccion))

df_1976.to_csv('data/Datos_Aemet/bilbao_csv/datos1976.csv', index=False)

In [32]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/03222ccf"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1979 = pd.DataFrame(hacer_dataframe(direccion))

df_1979.to_csv('data/Datos_Aemet/bilbao_csv/datos1979.csv', index=False)

In [33]:
#Función para hacer dataframes
direccion= "https://opendata.aemet.es/opendata/sh/f5370e2c"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1982 = pd.DataFrame(hacer_dataframe(direccion))

df_1982.to_csv('data/Datos_Aemet/bilbao_csv/datos1982.csv', index=False)

In [34]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/0a512794"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1986 = pd.DataFrame(hacer_dataframe(direccion))

df_1986.to_csv('data/Datos_Aemet/bilbao_csv/datos1986.csv', index=False)

In [35]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/482d0873"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1988 = pd.DataFrame(hacer_dataframe(direccion))

df_1988.to_csv('data/Datos_Aemet/bilbao_csv/datos1988.csv', index=False)

In [36]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/eb203a3e"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1991 = pd.DataFrame(hacer_dataframe(direccion))

df_1991.to_csv('data/Datos_Aemet/bilbao_csv/datos1991.csv', index=False)

In [2]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/2da5fc9a"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1994 = pd.DataFrame(hacer_dataframe(direccion))

df_1994.to_csv('data/Datos_Aemet/bilbao_csv/datos1994.csv', index=False)

In [3]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/a9d22ea8"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_1997 = pd.DataFrame(hacer_dataframe(direccion))

df_1997.to_csv('data/Datos_Aemet/bilbao_csv/datos1997.csv', index=False)

In [39]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/6ad854fe"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_2000 = pd.DataFrame(hacer_dataframe(direccion))

df_2000.to_csv('data/Datos_Aemet/bilbao_csv/datos2000.csv', index=False)

In [40]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/0c59029b"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_2003 = pd.DataFrame(hacer_dataframe(direccion))

df_2003.to_csv('data/Datos_Aemet/bilbao_csv/datos2003.csv', index=False)

In [41]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/4831eb68"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_2006 = pd.DataFrame(hacer_dataframe(direccion))

df_2006.to_csv('data/Datos_Aemet/bilbao_csv/datos2006.csv', index=False)

In [42]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/180fe012"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_2009 = pd.DataFrame(hacer_dataframe(direccion))

df_2009.to_csv('data/Datos_Aemet/bilbao_csv/datos2009.csv', index=False)

In [43]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/3399e65b"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_2012 = pd.DataFrame(hacer_dataframe(direccion))

df_2012.to_csv('data/Datos_Aemet/bilbao_csv/datos2012.csv', index=False)

In [44]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/7974d052"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_2015 = pd.DataFrame(hacer_dataframe(direccion))

df_2015.to_csv('data/Datos_Aemet/bilbao_csv/datos2015.csv', index=False)

In [46]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/f4c80938"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_2018 = pd.DataFrame(hacer_dataframe(direccion))

df_2018.to_csv('data/Datos_Aemet/bilbao_csv/datos2018.csv', index=False)

In [47]:
#Función para hacer dataframes
direccion="https://opendata.aemet.es/opendata/sh/217f873e"

def hacer_dataframe(info):
        response = requests.get(info)
        data = response.json()
        df_inicial = pd.DataFrame(data)
        df_filtrado = pd.DataFrame(df_inicial[["fecha", "tm_mes", "tm_max", "tm_min", "ta_max", "ta_min", "ti_max", "ts_min", "p_mes","np_300", "nt_30", "inso"]])
        return df_filtrado

df_2021 = pd.DataFrame(hacer_dataframe(direccion))

df_2021.to_csv('data/Datos_Aemet/bilbao_csv/datos2021.csv', index=False)

In [48]:

#Funcion para importar csv y concatenar dataframes.
def importar_concatenar(path):
    df_concatenado = pd.DataFrame()  # Inicializar DataFrame vacío
    files = os.listdir(path)
    for file in files:
        file_path = os.path.join(path, file)
        if os.path.isfile(file_path) and file.endswith('.csv'):
            df = pd.read_csv(file_path)
            df_concatenado = pd.concat([df_concatenado, df], ignore_index=True)
    return df_concatenado

folder_path = "data/Datos_Aemet/bilbao_csv/"
df_final = importar_concatenar(folder_path)
df_final
df_final.to_csv('data/Datos_Aemet/bilbao_csv/datosbilbao.csv', index=False)